{% extends 'base.html.twig' %}

{% block body %}


<div class="container">



<div class="row">


    <div class="col-md-12 m-2 p-2">


        <div class="container border border-dark text-center p-2">
            <h3 class="text-center">Klantenservice</h3>
            <a href="#"><i class="bi bi-telephone-fill" style="font-size: 1rem; color: black;"></i></a> <b>070 1111-1111</b><br>
            <a href="#"><i class="bi bi-envelope-fill" style="font-size: 1rem; color: black;"></i></a> <b>pizza@pizza.nl</b>
            <br><p>Beschikbaar van Maandag tot vrijdag - 09:00 t/m 18:00</p>
            <hr>
            <a href="#"><i class="bi bi-pinterest m-2" style="font-size: 2rem; color: black;"></i></a>
            <a href="#"><i class="bi bi-facebook m-2" style="font-size: 2rem; color: black;"></i></a>
            <a href="#"><i class="bi bi-twitter m-2" style="font-size: 2rem; color: black;"></i></a>
            <a href="#"><i class="bi bi-instagram m-2" style="font-size: 2rem; color: black;"></i></a>
            <a href="#"><i class="bi bi-linkedin m-2" style="font-size: 2rem; color: black;"></i></a>
        </div>



    </div>


</div>


    {% endblock %}
